{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "plugins": [
        "react"
    ],
    "rules":{
        "no-console": 0,
        "indent": [2, 4, { "SwitchCase": 2, "VariableDeclarator": 2 }],
    }
}
